@import url('https://fonts.googleapis.com/css?family=Allura|josefin+sans');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    background: #81c644;
    font-family: 'josfin sans',sans-serif;
    

 
}
.wrapper
{
    margin-top:3%;
    
}
.wrapper h1
{
    font-family: 'Allura',cursive;
    font-size: 52px;
    margin-bottom:10px;
    text-align: center;
}
.team
{
    display:flex;
    text-align: center;
    width: auto;
    justify-content: center;
    
}
.team .team_member
{
    background:white;
    margin: 50px;
    margin-bottom: 50px;
    width: 300px;
    padding:20px;
    line-height: 20px;
    color:black;
    text-transform: capitalize;
    position: relative;
}
.team .team_member h3
{
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
    text-transform: uppercase;
}
.team .team_member p.role
{
    color: darkred;
    font-size: 15px;
    text-transform: uppercase;
    margin: 12px 0;
    
}
.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left: 50%;
    transform: translateX(-50%);
    background:orange;
} 
.team .team_member .team_img img{
    width :100px;
    height: 100px;
    padding: 10px;
    
}